<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/commonCss :: common_header(~{::title},~{::link})">
    <title>设置</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<div class="container">
    <div th:replace="~{fragments/header::header}"></div>
    <p>
        <a class="btn btn-info" href="/user/userEdit" th:href="@{/dict/dictEdit}">创建</a>
    </p>
    <table class="table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th>type类型</th>
            <th>name显示名称</th>
            <th>value值</th>
            <th>sort排序</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dict : ${list}">
            <td th:text="${dict.type}"></td>
            <td th:text="${dict.name}"></td>
            <td th:text="${dict.value}"></td>
            <td th:text="${dict.sort}"></td>
            <td>
                <a href="/userEdit"  class="btn btn-primary" th:href="@{/dict/dictEdit/__${dict.id}__}">Edit</a>
                <a href="/userDelete" class="btn btn-warning" th:href="@{/dict/dictDelete/__${dict.id}__}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments/footer::footer}"></div>
<!--使用公有js-->
<div th:replace="common/commonJs::common_js(~{::script})">
    <!--每个页面自己的js-->
    <script src="js/index.js"></script>
</div>
</body>
</html>