<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sss.archetype.dao.MsgMapper">

    <resultMap id="BaseResultMap" type="com.sss.archetype.entity.Msg">
        <id column="id" property="id" />
            <result column="send_user_id" jdbcType="VARCHAR" property="sendUserId" />
            <result column="accept_user_id" jdbcType="VARCHAR" property="acceptUserId" />
            <result column="msg" jdbcType="VARCHAR" property="msg" />
            <result column="sign_flag" jdbcType="INTEGER" property="signFlag" />
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <sql id="allColumn">
        id,send_user_id,accept_user_id,msg,sign_flag,create_time
    </sql>

    <insert id="insert" parameterType="com.sss.archetype.entity.Msg" useGeneratedKeys="true" keyProperty="id">
        insert into t_msg (<include refid="allColumn"></include>)
        values (#{id},#{sendUserId},#{acceptUserId},#{msg},#{signFlag},#{createTime})
    </insert>

    <insert id="insertBatch">
        insert into t_msg (<include refid="allColumn"></include>)
        values
        <foreach collection="list" item="element" separator=",">
            (#{element.id},#{element.sendUserId},#{element.acceptUserId},#{element.msg},#{element.signFlag},#{element.createTime})
        </foreach>
    </insert>

    <update id="updateById" parameterType="com.sss.archetype.entity.Msg">
        update t_msg set
            send_user_id = #{sendUserId},
            accept_user_id = #{acceptUserId},
            msg = #{msg},
            sign_flag = #{signFlag},
            create_time = #{createTime}
        where id = #{id}
    </update>

    <select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="allColumn"></include>
        from t_msg
        where id = #{id}
    </select>

    <sql id="queryCondition">
        <where>
            del_flag = '0'
                    <if test="id != null and id != ''">
                        AND id = #{id}            
                    </if>
                    <if test="sendUserId != null and sendUserId != ''">
                        AND send_user_id = #{sendUserId}            
                    </if>
                    <if test="acceptUserId != null and acceptUserId != ''">
                        AND accept_user_id = #{acceptUserId}            
                    </if>
                    <if test="msg != null and msg != ''">
                        AND msg = #{msg}            
                    </if>
                    <if test="signFlag != null and signFlag != ''">
                        AND sign_flag = #{signFlag}            
                    </if>
                    <if test="createTime != null">
                        AND DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(#{createTime},'%Y-%m-%d')         
                    </if>
        </where>
    </sql>

    <select id="listAll" parameterType="com.sss.archetype.entity.Msg" resultMap="BaseResultMap">
        select
        <include refid="allColumn"></include>
        from t_msg
        <include refid="queryCondition"></include>
        <choose>
            <when test="orderByStr !=null and orderByStr != ''">
                ${orderByStr}
            </when>
            <otherwise>
                ORDER BY update_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="listPage" parameterType="com.sss.archetype.entity.Msg" resultMap="BaseResultMap">
        select
        <include refid="allColumn"></include>
        from t_msg
        <include refid="queryCondition"></include>
        <choose>
            <when test="orderByStr !=null and orderByStr != ''">
                ${orderByStr}
            </when>
            <otherwise>
                ORDER BY update_date DESC
            </otherwise>
        </choose>
    </select>

    <!-- 根据ID删除 -->
    <update id="deleteById">
        update t_msg set del_flag = '1' where id = #{id}
    </update>

    <!-- 根据ID批量删除 -->
    <update id="deleteByIds" parameterType="java.util.List">
        update t_msg set del_flag = '1' where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!-- 删除所有 -->
    <update id="deleteAll">
        update t_msg set del_flag = '1'
    </update>
</mapper>